.header {
   position: fixed;
   top: 0;
   left: 50%;
   transform: translateX(-50%);
   display: flex;
   align-items: center;
   justify-content: space-between;
   @include setContainer(160rem);
}
